
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
padding: 0%;
margin: 0px;
box-sizing: border-box;
}
.titulo-1{
color: black;
font-family: Bebas Neue;
font-size: 64px;
}
.imagem{
width: 793px;
height: 779px;
top: 174px;
left: 120px;
margin-left: 90px;
width: 793px;
height: 779px;
top: 174px;
left: 120px;
margin-top: 7%;


}
.btn{
border: none;
max-width: 100%;
height: auto;
border: none;
padding: 10px 20px;
background: none;
cursor: pointer;
}
.cabecalho{
width: 100vw;
height: 71px;
background-color: #3750B3;
display: flex;
position: fixed;

}
.paragrafo{
font-size: 20px;
}
.left{
    width: 34px;
    right: 50vh;
    padding-top: 20px;

}
.right{
    width: 1280px;
    position: fixed;
    top: 20px;
    left: 1240px;
    color: white;
}
.btn{
    color: white;
    font-family: Montserrat;
}
.titulo-1{
    position: absolute;
    left: 100vh;
    top: 14vw;
}
.titulo-2{
    position: relative;
    left: 100vh;
    top: -30vw;
    font-size: 32px;
}
